USE [master]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetSessionsActivity]    Script Date: 12/29/2025 12:25:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER     FUNCTION [dbo].[fn_GetSessionsActivity] (@SPID INT = NULL)
RETURNS @ActivityMonitor TABLE (
	[ddhhmmss] [nvarchar](4000) NULL
	,[LastRequestStartTime] [datetime] NULL
	,[session_id] [smallint] NULL
	,[login_name] [sysname] NULL
	,[database] SYSNAME NULL
	,[status] [nvarchar](255) NULL
	,[command] [nvarchar](255) NULL
	,[blocking_session_id] [smallint] NULL
	,[wait_type] [nvarchar](255) NULL
	,[wait_info] [nvarchar](4000) NULL
	,[wait_time] [int] NULL
	,[last_wait_type] [nvarchar](255) NULL
	,[percent_complete] [real] NULL
	,[cpu_time] [int] NULL
	,[reads] [bigint] NULL
	,[writes] [bigint] NULL
	,[logical_reads] [bigint] NULL
	,[GrantedQueryMemory(Kb)] [int] NULL
	,[transaction_isolation_level] [varchar](255) NULL
	,[DBCCInputBuffer] nvarchar(max) NULL
	,[BatchText] [xml] NULL
	,[query_text] [xml] NULL
	,[host_name] [nvarchar](255) NULL
	,[program_name] [nvarchar](255) NULL
	,[resource_governor_workload_group] [nvarchar](256) NULL
	,[max_dop] [int] NULL
	,[effective_max_dop] [int] NULL
	,[is_user_process] [bit] NULL
	,[open_transaction_count] [int] NULL
	,[last_request_start_time] [datetime] NULL
	,[last_request_end_time] [datetime] NULL
	,[row_count] [bigint] NULL
	,[login_time] datetime null
	,[LoginDuration_dd:hh:mm:ss] [nvarchar](4000) NULL
	,[Query_plan] [varchar](max) NULL
	,[plan_handle] [varbinary](255) NULL
	)
/*    
       Author: The Friendly DBA    
       Created Date: 09/25/2017    
       Purpose: This table-valued function uses the DMV(s) to display locking information for each connection 
				and provide same type of info like sp_who2 Microsoft store prcoedure. 
				As table-valued function , optionally you can pass parameters for specific spid.
				Since it is table-valued function so it is easy to have a where clause with it.
				To keep this function lightweight as it should NOT hange while getting data from busy servers.
				I pursposefully avoid getting query execution plans for each spid to keep it lightweight.
				In last 2 columns, you will get select query and sql handlder which you can run to get query exeuction plan (if required)
				
		Parameters:
		* @spid Nullable - to search for specific process id

		Example:
				select * from dbo.fn_GetSessionsActivity(NULL)
				select * from dbo.fn_GetSessionsActivity(50)
		
		Supported version: SQL Server 2016 and higher

	**************************************************************************************************
    This code is free to download and use for personal, educational, and internal 
    corporate purposes, provided that this header is preserved. Redistribution or sale, 
    in whole or in part, is prohibited without the author's express written consent. 
    ©2025 | The Friendly DBA 
	**************************************************************************************************

*/    
AS
BEGIN
	IF (@SPID IS NULL)
	BEGIN
		INSERT INTO @ActivityMonitor
		SELECT -- getdate() as LoadDate,
				  format(datediff(second, r.start_time, getdate()) / 3600 / 24, '00') + ':' 
				+ format((datediff(second, r.start_time, getdate()) / 3600) % 24, '00') + ':' 
				+ format((datediff(second, r.start_time, getdate()) % 3600) / 60, '00') + ':' 
				+ format(datediff(second, r.start_time, getdate()) % 60, '00') AS [dd:hh:mm:ss]

			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) / 3600 / 24),2) + ':' +
			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) / 3600) % 24,2) + ':' +
			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) % 3600) /60,2) + ':' +
			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) % 60),2) as [dd:hh:mm:ss]

			,s.last_request_start_time AS LastRequestStartTime
			,s.session_id
			,login_name
			,db_name(s.database_id) AS [database]
			,s.[status]
			,r.command
			,r.blocking_session_id
			,r.wait_type
			,t.wait_info
			,r.wait_time
			,r.last_wait_type
			,r.percent_complete
			,r.cpu_time
			,r.reads
			,r.writes
			,r.logical_reads
			,(granted_query_memory * 8) AS [GrantedQueryMemory(Kb)]
			,CASE s.transaction_isolation_level
				WHEN 0
					THEN 'Unspecified'
				WHEN 1
					THEN 'ReadUncommitted'
				WHEN 2
					THEN 'ReadCommitted'
				WHEN 3
					THEN 'Repeatable'
				WHEN 4
					THEN 'Serializable'
				WHEN 5
					THEN 'Snapshot'
				END AS transaction_isolation_level
			,ib.event_info AS DBCCInputBuffer
			,CONVERT(XML, '<?query --''' + CHAR(13) + CHAR(10) + st.TEXT + CHAR(13) + CHAR(10) + '--?>') AS BatchText
			,CONVERT(XML, '<?query --''' + CHAR(13) + CHAR(10) + SUBSTRING(TEXT, (statement_start_offset / 2) + 1, (
						(
							CASE statement_end_offset
								WHEN - 1
									THEN DATALENGTH(TEXT)
								ELSE statement_end_offset
								END - statement_start_offset
							) / 2
						) + 1) + CHAR(13) + CHAR(10) + '--?>') AS query_text
			,host_name
			,program_name = CASE 
				WHEN program_name LIKE 'SQLAgent -%'
					THEN (
							SELECT 'SQLAgent - ' + name
							FROM msdb.dbo.sysjobs
							WHERE substring(left(job_id, 8), 7, 2) + substring(left(job_id, 8), 5, 2) + substring(left(job_id, 8), 3, 2) + substring(left(job_id, 8), 1, 2) = substring(program_name, 32, 8)
							)
				ELSE program_name
				END
			,g.name AS resource_governor_workload_group
			,g.max_dop
			,g.effective_max_dop
			,s.is_user_process
			,isnull(r.open_transaction_count,s.open_transaction_count) as open_transaction_count
			,s.last_request_start_time
			,s.last_request_end_time
			,s.row_count
			,s.login_time
			,format(datediff(second, s.login_time, getdate()) / 3600 / 24, '00') + ':' 
				+ format((datediff(second, s.login_time, getdate()) / 3600) % 24, '00') + ':' 
				+ format((datediff(second, s.login_time, getdate()) % 3600) / 60, '00') + ':' 
				+ format(datediff(second, s.login_time, getdate()) % 60, '00') AS [LoginDuration_dd:hh:mm:ss]
			--, p.query_plan
			,CASE 
				WHEN r.plan_handle IS NOT NULL
					THEN 'USE ' + db_name(s.database_id) + '; SELECT db_name(dbid), object_name(objectid), query_plan FROM sys.dm_exec_query_plan('
				ELSE r.plan_handle
				END AS Query_plan
			,r.plan_handle
		FROM sys.dm_exec_sessions AS s
		INNER JOIN sys.dm_resource_governor_workload_groups AS g ON s.group_id = g.group_id
		LEFT JOIN sys.dm_exec_requests AS r ON r.session_id = s.session_id
			OUTER APPLY (
			SELECT top 1 session_id,
								-- (6ms)PAGELATCH_UP:tempdb:3(PFS)
								'('+convert(varchar(255),wait_duration_ms)+'ms)'+
								 wait_type +
						Case 
						when resource_description like '2:%' then ' - tempdb: '+resource_description
						else resource_description
						end as wait_info					
						FROM sys.dm_os_waiting_tasks
					where session_id = s.session_id
					and wait_type is not null
					and resource_description not like 'exchangeEvent %'
					order by wait_duration_ms desc
			) AS t 
		OUTER APPLY sys.dm_exec_sql_text(r.sql_handle) AS st
		OUTER APPLY sys.dm_exec_input_buffer(r.session_id, NULL) AS ib
		WHERE s.is_user_process != 0

			

	END
	ELSE
	BEGIN
		INSERT INTO @ActivityMonitor
		SELECT -- getdate() as LoadDate,
				  format(datediff(second, r.start_time, getdate()) / 3600 / 24, '00') + ':' 
				+ format((datediff(second, r.start_time, getdate()) / 3600) % 24, '00') + ':' 
				+ format((datediff(second, r.start_time, getdate()) % 3600) / 60, '00') + ':' 
				+ format(datediff(second, r.start_time, getdate()) % 60, '00') AS [dd:hh:mm:ss]

			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) / 3600 / 24),2) + ':' +
			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) / 3600) % 24,2) + ':' +
			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) % 3600) /60,2) + ':' +
			--Right('0' + Convert (varchar, datediff(second,r.start_time,getdate()) % 60),2) as [dd:hh:mm:ss]

			,s.last_request_start_time AS LastRequestStartTime
			,s.session_id
			,login_name
			,db_name(s.database_id) AS [database]
			,s.[status]
			,r.command
			,r.blocking_session_id
			,r.wait_type
			,t.wait_info
			,r.wait_time
			,r.last_wait_type
			,r.percent_complete
			,r.cpu_time
			,r.reads
			,r.writes
			,r.logical_reads
			,(granted_query_memory * 8) AS [GrantedQueryMemory(Kb)]
			,CASE s.transaction_isolation_level
				WHEN 0
					THEN 'Unspecified'
				WHEN 1
					THEN 'ReadUncommitted'
				WHEN 2
					THEN 'ReadCommitted'
				WHEN 3
					THEN 'Repeatable'
				WHEN 4
					THEN 'Serializable'
				WHEN 5
					THEN 'Snapshot'
				END AS transaction_isolation_level
			,ib.event_info AS DBCCInputBuffer
			,CONVERT(XML, '<?query --''' + CHAR(13) + CHAR(10) + st.TEXT + CHAR(13) + CHAR(10) + '--?>') AS BatchText
			,CONVERT(XML, '<?query --''' + CHAR(13) + CHAR(10) + SUBSTRING(TEXT, (statement_start_offset / 2) + 1, (
						(
							CASE statement_end_offset
								WHEN - 1
									THEN DATALENGTH(TEXT)
								ELSE statement_end_offset
								END - statement_start_offset
							) / 2
						) + 1) + CHAR(13) + CHAR(10) + '--?>') AS query_text
			,host_name
			,program_name = CASE 
				WHEN program_name LIKE 'SQLAgent -%'
					THEN (
							SELECT 'SQLAgent - ' + name
							FROM msdb.dbo.sysjobs
							WHERE substring(left(job_id, 8), 7, 2) + substring(left(job_id, 8), 5, 2) + substring(left(job_id, 8), 3, 2) + substring(left(job_id, 8), 1, 2) = substring(program_name, 32, 8)
							)
				ELSE program_name
				END
			,g.name AS resource_governor_workload_group
			,g.max_dop
			,g.effective_max_dop
			,s.is_user_process
			,isnull(r.open_transaction_count,s.open_transaction_count) as open_transaction_count
			,s.last_request_start_time
			,s.last_request_end_time
			,s.row_count
			,s.login_time
			,format(datediff(second, s.login_time, getdate()) / 3600 / 24, '00') + ':' 
				+ format((datediff(second, s.login_time, getdate()) / 3600) % 24, '00') + ':' 
				+ format((datediff(second, s.login_time, getdate()) % 3600) / 60, '00') + ':' 
				+ format(datediff(second, s.login_time, getdate()) % 60, '00') AS [LoginDuration_dd:hh:mm:ss]
			--, p.query_plan
			,CASE 
				WHEN r.plan_handle IS NOT NULL
					THEN 'USE ' + db_name(s.database_id) + '; SELECT db_name(dbid), object_name(objectid), query_plan FROM sys.dm_exec_query_plan('
				ELSE r.plan_handle
				END AS Query_plan
			,r.plan_handle
		FROM sys.dm_exec_sessions AS s
		INNER JOIN sys.dm_resource_governor_workload_groups AS g ON s.group_id = g.group_id
		LEFT JOIN sys.dm_exec_requests AS r ON r.session_id = s.session_id
		OUTER APPLY (
					SELECT top 1 session_id,
								-- (6ms)PAGELATCH_UP:tempdb:3(PFS)
								'('+convert(varchar(255),wait_duration_ms)+'ms)'+
								 wait_type +
						Case 
						when resource_description like '2:%' then ' - tempdb: '+resource_description
						else resource_description
						end as wait_info					
						FROM sys.dm_os_waiting_tasks
					where session_id = s.session_id
					and wait_type is not null
					and resource_description not like 'exchangeEvent %'
					order by wait_duration_ms desc
					) AS t 
		OUTER APPLY sys.dm_exec_sql_text(r.sql_handle) AS st
		OUTER APPLY sys.dm_exec_input_buffer(r.session_id, NULL) AS ib
		WHERE s.session_id = @SPID
	END

	RETURN
END

