
/****** Object:  StoredProcedure [dbo].[sp_Sessions]    Script Date: 12/26/2025 10:23:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create or ALTER   PROCEDURE [dbo].[sp_Sessions] @spid INT = NULL
	,@showThreadLevelDetail BIT = 0
	/*    
       Author: Tariq Saeed    
       Created Date: 09/25/2017    
       Purpose: This procedure shows every open session which is connected to SQL Enginee and 
				it provide same/better type of info like sp_who2 Microsoft store prcoedure using Microsoft DMV(s).
				To keep this function lightweight as it should NOT hange while getting data from very busy SQL servers.
				I pursposefully avoid getting query execution plans for each spid to keep it lightweight.
				In last 2 columns, you will get select query and sql handlder which you can run to get query exeuction plan (if required)
				
		Parameters:
		* @spid Nullable - to search for specific process id
		* @showThreadLevelDetail Not Nullable default is 0  - if turn on procedure will show each Task/Thread assigned with SPID.
															  This info is valuable while fine tunning parallelism related issues
															  or Linked server issues.
															
		Example:
				exec sp_Sessions
				exec sp_Sessions @spid = 50
				exec sp_Sessions @showThreadLevelDetail = 1
				exec sp_Sessions @spid = 50 , @showThreadLevelDetail = 1

		Supported version: SQL Server 2016 and higher

	**************************************************************************************************
    This code is free to download and use for personal, educational, and internal 
    corporate purposes, provided that this header is preserved. Redistribution or sale, 
    in whole or in part, is prohibited without the author's express written consent. 
    ©2025 | Tariq Saeed 
	**************************************************************************************************
*/
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @isblockingExists BIT = 0;

	BEGIN -- check if blocking is going on or not
		IF EXISTS (
				SELECT spid
				FROM sys.sysprocesses
				WHERE blocked != 0
				)
		BEGIN
			DECLARE @blockedHeaderSpid TABLE (spid INT)

			-- find lead blocker spid
			INSERT INTO @blockedHeaderSpid
			SELECT DISTINCT blocked
			FROM sys.sysprocesses
			WHERE blocked != 0
			
			EXCEPT
			
			SELECT DISTINCT spid
			FROM sys.sysprocesses
			WHERE blocked != 0
				AND spid IN (
					SELECT DISTINCT blocked
					FROM sys.sysprocesses
					WHERE blocked != 0
					)

			IF EXISTS (
					SELECT 1
					FROM @blockedHeaderSpid
					)
			BEGIN
				-- loed blocker info
				SELECT 'lead Blocker' AS leadBlocker
					,a.*
				FROM @blockedHeaderSpid AS b
				Join dbo.fn_GetSessionsActivity(null) AS a
				on a.session_id = b.spid
				
				UNION ALL
				
				-- blocked spid
				SELECT 'blocked spid' AS blockedSpid
					,a.*
				FROM (
					SELECT DISTINCT spid
					FROM sys.sysprocesses
					WHERE blocked != 0
					) AS b
				join dbo.fn_GetSessionsActivity(Null) AS a 
				on a.session_id = b.spid

				--  include blocked spid
				INSERT INTO @blockedHeaderSpid
				SELECT DISTINCT spid
				FROM sys.sysprocesses
				WHERE blocked != 0
			END
		END
	END

	BEGIN -- Get all session activity
		IF (
				@spid IS NULL
				AND @showThreadLevelDetail = 0
				)
			SELECT ddhhmmss
				,LastRequestStartTime
				,f.session_id
				,login_name
				,[database]
				,STATUS
				,command
				,blocking_session_id
				,wait_type
				,wait_time
				,f.[wait_info] 
				,last_wait_type
				,percent_complete
				,cpu_time
				,reads
				,writes
				,logical_reads
				,[GrantedQueryMemory(Kb)]
				,transaction_isolation_level
				,DBCCInputBuffer
				,BatchText
				,query_text
				,host_name
				,program_name
				,resource_governor_workload_group
				,max_dop
				,effective_max_dop
				,isnull(t.threadsRunning, 0) AS threadsRunning
				,isnull(t.threadsPendingQueue, 0) AS threadsPendingQueue
				,is_user_process
				,open_transaction_count
				,last_request_start_time
				,last_request_end_time
				,row_count
				,login_time
				,[LoginDuration_dd:hh:mm:ss]
				,Query_plan
				,plan_handle
			FROM dbo.fn_GetSessionsActivity(NULL) AS f
			LEFT JOIN (
				SELECT t.session_id
					,t.task_state
					,sum(1) AS threadsRunning
					,sum(s.work_queue_count) AS threadsPendingQueue
				FROM sys.dm_os_tasks AS t
				INNER JOIN sys.dm_os_schedulers AS s ON t.worker_address = s.active_worker_address
				INNER JOIN sys.dm_exec_sessions AS c ON c.session_id = t.session_id
				WHERE t.session_id IS NOT NULL
					AND t.task_state = 'RUNNING'
				GROUP BY t.session_id
					,t.task_state
					--order by t.session_id
				) AS t ON t.session_id = f.session_id
			ORDER BY f.plan_handle DESC
		ELSE IF (@showThreadLevelDetail = 1)
			IF (@spid IS NULL)
			BEGIN
				SELECT a.ddhhmmss
					,a.LastRequestStartTime
					,a.session_id
					,a.login_name
					,a.[database]
					,a.STATUS
					,a.command
					,a.blocking_session_id
					,a.wait_type
					,a.wait_time
					,ot.task_state
					,t.blocking_session_id AS thread_blocked
					,t.resource_description
					,a.[wait_info] 
					,a.last_wait_type
					,a.percent_complete
					,a.cpu_time
					,a.reads
					,a.writes
					,a.logical_reads
					,a.[GrantedQueryMemory(Kb)]
					,a.transaction_isolation_level
					,a.BatchText
					,a.query_text
					,a.host_name
					,a.program_name
					,a.resource_governor_workload_group
					,a.max_dop
					,a.effective_max_dop
					,a.is_user_process
					,a.open_transaction_count
					,a.last_request_start_time
					,a.last_request_end_time
					,a.row_count
					,a.login_time
					,a.[LoginDuration_dd:hh:mm:ss]
					,a.Query_plan
					,a.plan_handle
				FROM dbo.fn_GetSessionsActivity(NULL) AS a
				LEFT OUTER JOIN sys.dm_os_waiting_tasks AS t ON a.session_id = t.session_id
				LEFT JOIN sys.dm_os_tasks AS ot ON ot.task_address = t.waiting_task_address
				ORDER BY a.plan_handle DESC -- , a.session_id ,  ot.task_state
			END
			ELSE
			BEGIN
				SELECT a.ddhhmmss
					,a.LastRequestStartTime
					,a.session_id
					,a.login_name
					,a.[database]
					,a.STATUS
					,a.command
					,a.blocking_session_id
					,a.wait_type
					,ot.task_state
					,t.blocking_session_id AS thread_blocked
					,t.resource_description
					,a.wait_info
					,a.wait_time
					,a.last_wait_type
					,a.percent_complete
					,a.cpu_time
					,a.reads
					,a.writes
					,a.logical_reads
					,a.[GrantedQueryMemory(Kb)]
					,a.transaction_isolation_level
					,a.DBCCInputBuffer
					,a.BatchText
					,a.query_text
					,a.host_name
					,a.program_name
					,a.resource_governor_workload_group
					,a.max_dop
					,a.effective_max_dop
					,a.is_user_process
					,a.open_transaction_count
					,a.last_request_start_time
					,a.last_request_end_time
					,a.row_count
					,a.login_time
					,a.[LoginDuration_dd:hh:mm:ss]
					,a.Query_plan
					,a.plan_handle
				FROM dbo.fn_GetSessionsActivity(NULL) AS a
				LEFT OUTER JOIN sys.dm_os_waiting_tasks AS t ON a.session_id = t.session_id
				LEFT JOIN sys.dm_os_tasks AS ot ON ot.task_address = t.waiting_task_address
				WHERE a.session_id = @spid
				ORDER BY a.plan_handle DESC -- , a.session_id ,  ot.task_state
			END
		ELSE
			SELECT *
			FROM fn_GetSessionsActivity(@spid) AS a
			ORDER BY a.plan_handle DESC
	END
END
