
/****** Object:  UserDefinedFunction [dbo].[fn_GetLockInfo]    Script Date: 12/26/2025 10:28:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
Create OR ALTER   function [dbo].[fn_GetLockInfo] (@spid int, @database sysname)    
Returns @locksResult TABLE (    
       [request_session_id] [int] NOT NULL,    
       [dbname]							sysname  NULL,    
       [objectName]						[nvarchar](255) NULL,    
       [schemaName]						[nvarchar](255) NULL,    
       [resource_type]					[nvarchar](128) NOT NULL,    
       [resource_subtype]				[nvarchar](128) NOT NULL,    
       [resource_description]			[nvarchar](256) NOT NULL,    
       [request_mode]					[nvarchar](128) NOT NULL,    
       [request_type]					[nvarchar](128) NOT NULL,    
       [request_status]					[nvarchar](128) NOT NULL,    
       [resource_associated_entity_id]	[bigint] NULL,    
       [request_owner_type]				[nvarchar](128) NOT NULL    

    Index IX_session_id CLUSTERED ([request_session_id], [dbname] , [objectName])  
)    
/*    
       Author: The Friendly DBA    
       Created Date: 09/25/2017    
       Purpose: This table-valued function uses the new DMV(s) to display locking information for each connection 
				just like sp_lock Microsoft store prcoedure. 
				As table-valued function , optionally you can pass parameters for specific spid or database name to only view related info.
				It converts objectid and indexId to display table table and index names so it easy to understand this info.
				
		Parameters:
		* @spid Nullable - to search for specific process id
		* @database Nullable - to search for specific database

		Example:
				select * from dbo.fn_GetLockInfo(null,null)
				select * from dbo.fn_GetLockInfo(59,null)
				select * from dbo.fn_GetLockInfo(null,'dbname')
		
		Supported version: SQL Server 2014 , 2016, 2017 and higher
	**************************************************************************************************
    This code is free to download and use for personal, educational, and internal 
    corporate purposes, provided that this header is preserved. Redistribution or sale, 
    in whole or in part, is prohibited without the author's express written consent. 
    ©2025 | The Friendly DBA 
	**************************************************************************************************
	     
*/    

AS    
Begin    
IF (@spid is null and @database is null)    
Begin    
  
              Insert into @locksResult    
              select distinct request_session_id    
                           , db_name(resource_database_id) as dbname    
                           , case    
                                  WHEN resource_associated_entity_id > 2147483647 THEN convert(nvarchar,resource_associated_entity_id )    
                                  WHEN resource_associated_entity_id > 0 THEN object_name(resource_associated_entity_id , resource_database_id)    
                                  WHEN resource_associated_entity_id < 0 THEN (select Isnull(name,convert(nvarchar,resource_associated_entity_id)) from tempdb.sys.objects (nolock) where object_id = resource_associated_entity_id)    
                                  ELSE convert(nvarchar,resource_associated_entity_id) end as objectName    
                           , case    
                                  WHEN resource_associated_entity_id > 2147483647 THEN convert(nvarchar,resource_associated_entity_id )    
                                  WHEN resource_associated_entity_id > 0 THEN OBJECT_SCHEMA_NAME(resource_associated_entity_id, resource_database_id)    
                                  WHEN resource_associated_entity_id < 0 THEN (select Isnull(name,convert(nvarchar,resource_associated_entity_id)) from tempdb.sys.schemas (nolock) where schema_id = resource_associated_entity_id)    
                                  ELSE  convert(nvarchar,resource_associated_entity_id) end as schemaName    
                        , resource_type    
                        , resource_subtype    
                        , l.resource_description    
                        , request_mode    
                        , request_type    
                        , request_status    
              , resource_associated_entity_id    
              , request_owner_type     
              FROM sys.dm_tran_locks  as l    
              order by request_session_id, resource_associated_entity_id    
End    
Else If (@spid is null and @database is not null)    
Begin    
              Insert into @locksResult    
              select distinct request_session_id    
                           , db_name(resource_database_id) as dbname    
                           , case    
                                  WHEN resource_associated_entity_id > 2147483647 THEN convert(nvarchar,resource_associated_entity_id )    
                                  WHEN resource_associated_entity_id > 0 THEN object_name(resource_associated_entity_id , resource_database_id)    
                                  WHEN resource_associated_entity_id < 0 THEN (select Isnull(name,convert(nvarchar,resource_associated_entity_id)) from tempdb.sys.objects (nolock) where object_id = resource_associated_entity_id)    
                                  ELSE convert(nvarchar,resource_associated_entity_id) end as objectName    
                           , case    
                                  WHEN resource_associated_entity_id > 2147483647 THEN convert(nvarchar,resource_associated_entity_id )    
                                  WHEN resource_associated_entity_id > 0 THEN OBJECT_SCHEMA_NAME(resource_associated_entity_id, resource_database_id)    
                    WHEN resource_associated_entity_id < 0 THEN (select Isnull(name,convert(nvarchar,resource_associated_entity_id)) from tempdb.sys.schemas (nolock) where schema_id = resource_associated_entity_id)    
                                  ELSE  convert(nvarchar,resource_associated_entity_id) end as schemaName    
                        , resource_type    
                        , resource_subtype    
                        , l.resource_description    
                        , request_mode    
                        , request_type    
                        , request_status    
              , resource_associated_entity_id    
              , request_owner_type    
              FROM sys.dm_tran_locks  as l    
              where db_name(resource_database_id) = @database    
              order by request_session_id , resource_associated_entity_id    
End    
Else If (@spid is not null)    
Begin    
              Insert into @locksResult    
              select distinct request_session_id    
                           , db_name(resource_database_id) as dbname    
                           , case    
                                  WHEN resource_associated_entity_id > 2147483647 THEN convert(nvarchar,resource_associated_entity_id )    
                                  WHEN resource_associated_entity_id > 0 THEN object_name(resource_associated_entity_id , resource_database_id)    
                                  WHEN resource_associated_entity_id < 0 THEN (select Isnull(name,convert(nvarchar,resource_associated_entity_id)) from tempdb.sys.objects (nolock) where object_id = resource_associated_entity_id)    
                                  ELSE convert(nvarchar,resource_associated_entity_id) end as objectName    
                           , case    
                                  WHEN resource_associated_entity_id > 2147483647 THEN convert(nvarchar,resource_associated_entity_id )    
                                  WHEN resource_associated_entity_id > 0 THEN OBJECT_SCHEMA_NAME(resource_associated_entity_id, resource_database_id)    
                                  WHEN resource_associated_entity_id < 0 THEN (select Isnull(name,convert(nvarchar,resource_associated_entity_id)) from tempdb.sys.schemas (nolock) where schema_id = resource_associated_entity_id)    
                                  ELSE  convert(nvarchar,resource_associated_entity_id) end as schemaName    
                        , resource_type    
                        , resource_subtype    
                        , l.resource_description    
                        , request_mode    
                        , request_type    
                        , request_status    
              , resource_associated_entity_id    
              , request_owner_type    
              FROM sys.dm_tran_locks  as l    
              where request_session_id = @spid    
              order by request_session_id , resource_associated_entity_id    
End    
       return;    
End 